                                                                                                                                                                            <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Configuration &raquo; Translate</title>

        <link rel="stylesheet" href="https://bolttranslate.github.io/Translate/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    </head>
    <body>

        <div class="docs columns is-gapless is-desktop">
            <aside class="docs__sidebar">
                <div class="docs__sidebar--brand">
                    <div class="brand">
                        <a class="brand--text" href="https://bolttranslate.github.io/Translate/">
                            Translate
                        </a>
                    </div>
                    <button class="button button-bars is-primary is-hidden-desktop">
                        <span class="icon">
                        <i class="fa fa-bars"></i>
                        </span>
                    </button>
                    <button class="button button-search is-primary is-hidden-desktop">
                        <span class="icon">
                        <i class="fa fa-search"></i>
                        </span>
                    </button>
                </div>

                                                <div class="docs__sidebar--search">
                    <form action="https://bolttranslate.github.io/Translate/search.html" class="control has-icons-right">
                        <input class="input" type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" placeholder="Search…" required>
                        <span class="icon is-small is-right">
                            <i class="icon-search"></i>
                        </span>
                    </form>
                </div>
                
                                <div class="docs__sidebar--menu">
                    <nav id="sidebar" class="menu" role="navigation">
                        <ul class="menu-list">
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/installation.html" class="">
                                        Installation
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/configuration.html" class="is-active">
                                        Configuration
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/example.html" class="">
                                        Example ContentType
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/repeaters.html" class="">
                                        Repeater Filetypes
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/localeswitcher-in-menu.html" class="">
                                        Localeswitcher in menu
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/localeswitcher-anywhere.html" class="">
                                        Localeswitcher anywhere
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/overrides.html" class="">
                                        Overrides
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/search-engines.html" class="">
                                        Search engines
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/flag-icons.html" class="">
                                        Flag icons
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/homepage-redirect.html" class="">
                                        Homepage Redirect
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/subdomain-routing.html" class="">
                                        Subdomain based routing
                                    </a>
                                </li>
                                                                                                                            <li class="">
                                    <a href="https://bolttranslate.github.io/Translate/about-license.html" class="">
                                        About and License
                                    </a>
                                </li>
                                                    </ul>
                    </nav>
                </div>
                
                <div class="docs__sidebar--footer is-hidden-touch">
                    <p class="text-muted">
                        Generated with ease by: <br>
                        <a href="http://couscous.io" title="Markdown website generator">Couscous</a> |
                        <a href="https://github.com/bolt/Extension-docs-template" title="Bolt extension documentation template">Bolt template</a>.
                    </p>
                </div>
            </aside>
            <main class="docs__main">
                <header class="docs__main--header">
                    <div class="pagetitle">
                        Configuration
                    </div>

                                            <a href="https://github.com/BoltTranslate/Translate" class="button is-info is-hidden-touch" aria-label="This extension on GitHub">
                            <span class="icon is-small">
                                <i class="fas fa-home"></i>
                            </span>
                            <span>GitHub</span>
                        </a>
                        <a href="https://github.com/BoltTranslate/Translate/fork" class="button is-info is-hidden-touch" aria-label="Fork BoltTranslate/Translate on GitHub">
                            <span class="icon is-small">
                                <i class="fas fa-code-branch"></i>
                            </span>
                            <span>Fork</span>
                        </a>
                                                <a href="https://github.com/BoltTranslate/Translate/edit/master/docs/configuration.md" class="button is-info is-hidden-touch" aria-label="Edit the contents of this page on GitHub">
                            <span class="icon is-small">
                                <i class="fab fa-github"></i>
                            </span>
                            <span>Edit this page</span>
                        </a>
                                                            </header>

                <div class="docs__main--body">
                    <section id="content" class="content">
                        <h2 id="configuration">Configuration</h2>
<ol>
<li>Modify the <code>locales</code> block in the extension configuration (which you can
find under the <code>Extend</code> screen in bolt's backend) to suit your needs. The
first one is the default locale and must be the same as bolts own locale
which you've set in bolts' main config.yml:</li>
</ol>
<pre><code class="language-yaml">locales:
    en_GB:
        label: English
        slug: en
    de_AT:
        label: Deutsch
        slug: de</code></pre>
<ol start="2">
<li>Add the locale field to the contenttypes you want translated in
<code>contenttypes.yml</code>:</li>
</ol>
<pre><code class="language-yaml">pages:
    name: Pages
    slug: pages
    singular_name: Page
    singular_slug: page
    fields:
        locale:
            type: locale
            group: content
[...]</code></pre>
<ol start="3">
<li>
<p>Add the <code>translatable</code> argument to all fields you want to be
translatable.</p>
<p><strong>Note: In older versions the config <code>translatable</code> was misspelled as
<code>is_translateable</code>. The old way is still supported, but deprecated and
will be removed in a future version.</strong></p>
</li>
</ol>
<pre><code class="language-yaml">[...]
title:
    type: text
    class: large
    group: content
    translatable: true
[...]</code></pre>
<pre><code>To translate templatefields you simply tag the templateselect
with `translatable` and all the templatefields will be translatable.</code></pre>
<pre><code class="language-yaml">[...]
templateselect:
    type: templateselect
    translatable: true
    filter: '*.twig'
[...]</code></pre>
<ol start="4">
<li>Add the hidden fields to all the contenttypes that have translatable
fields, two for each locale: one called <code>your_localedata</code> and one called
<code>your_localeslug</code>. So for the above <code>locales</code> example you would put:</li>
</ol>
<pre><code class="language-yaml">fields:
[...]
    dedata:
        type: hidden
    deslug:
        type: locale_data
        index: true
    endata:
        type: hidden
    enslug:
        type: locale_data
        index: true
[...]</code></pre>
<ol start="5">
<li>
<p>Use the <code>localeswitcher</code> twig-function to render a locale switcher in your
theme: <code>{{ localeswitcher() }}</code> or
<code>{{ localeswitcher(template = '_my_localeswitcher_template.twig') }}</code> if you want
to use a custom template. The base template being used is '_localeswitcher.twig'.</p>
<p>The <code>{{ localeswitcher }}</code> function generates an unordered list with the
labels of the languages you've set in the config file.</p>
<p>If you only want to a custom class to the unordered list don't make a custom
template. Adding a class is as simple as:</p>
<p><code>{{ localeswitcher(classes = 'custom-class another-class') }}</code></p>
</li>
<li>
<p>(Optional) Activate/install the Labels extension, set your languages in
it's config and mark any hardcoded text in your templates with
<code>{{ l("Your text here") }}</code>.</p>
</li>
<li>
<p>(Optional) Translate your Boltforms by switching
<code>{% form_theme form 'boltforms_custom.twig' %}</code> to
<code>{% form_theme form '@bolt/frontend/boltforms_theme_translated.twig' %}</code> at the top
of a form template. This requires the Labels extension.</p>
</li>
<li>(Optional) Translate your menu labels by chaning <code>{{ menu(template = 'partials/_sub_menu.twig') }}</code>
to <code>{{ menu(template = '@bolt/frontend/_sub_menu_translated.twig') }}</code> in your template.
You can then have locale specific menu labels by adding them like this:</li>
</ol>
<pre><code class="language-yaml">main:
    - label: Home
        delabel: Startseite
        title: This is the first menu item.
        detitle: Dies ist der erste Menüpunkt.
        path: homepage
        class: first
    - label: Second item
        delabel: Zweite Position
        path: entry/1
[...]</code></pre>
<pre><code>If no title/label is set for the current locale it will use the unprefixed ones.</code></pre>
                    </section>
                </div>
            </main>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>
        var tipuesearch_pages = ["https://bolttranslate.github.io/Translate/installation.html", "https://bolttranslate.github.io/Translate/configuration.html", "https://bolttranslate.github.io/Translate/example.html", "https://bolttranslate.github.io/Translate/repeaters.html", "https://bolttranslate.github.io/Translate/localeswitcher-in-menu.html", "https://bolttranslate.github.io/Translate/localeswitcher-anywhere.html", "https://bolttranslate.github.io/Translate/overrides.html", "https://bolttranslate.github.io/Translate/search-engines.html", "https://bolttranslate.github.io/Translate/flag-icons.html", "https://bolttranslate.github.io/Translate/homepage-redirect.html", "https://bolttranslate.github.io/Translate/subdomain-routing.html", "https://bolttranslate.github.io/Translate/about-license.html"];
        </script>
        <script src="https://bolttranslate.github.io/Translate/tipuesearch/tipuesearch_set.js"></script>
        <script src="https://bolttranslate.github.io/Translate/tipuesearch/tipuesearch.min.js"></script>
        <script src="https://bolttranslate.github.io/Translate/js/bundle.js"></script>
        <script>
            $(document).ready(function() {
                $('#tipue_search_input').tipuesearch({
                    'mode': 'live',
                    'liveDescription': '#content',
                    'liveContent': '#content'
                });
            });
        </script>

    </body>
</html>
