<ul{% if classes %} class="{{ classes }}"{% endif %}>
    {% for iso, locale in locales %}
    <li{% if locale.active %} class="active"{% endif %}>
        <a title="{{ locale.label }}" href="{{ locale.url }}">
            {{ locale.label }}
        </a>
    {% endfor %}
</ul>
