<ul{% if classes %} class="{{ classes }}"{% endif %}>
    {% for locale in locales|default([]) %}
    <li{% if locale.get('active') %} class="active"{% endif %}>
        <a title="{{ locale.get('label') }}" href="{{ locale.get('url') }}">
            {{ locale.get('label') }}
        </a>
    {% endfor %}
</ul>
