<ul class="localeswitcher">
	{% for iso, locale in locales %}
		{% if app.request.get('_route') != 'homepage' %}
			{% set newslug = get_slug_from_locale(record, iso) %}
		{% endif %}
		<li {% if locale.slug == app.request.get('_locale') %}class="active"{% endif %}>
			<a href="{{ url(
				app.request.get('_route'), 
				app.request.get('_route_params')|merge({_locale: locale.slug, slug: newslug ?: record.slug})
				)}}">
				{{ locale.label }}
			</a>
	{% endfor %}
</ul>